<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exam</title>
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'exam_app/style.css' %}">
  </head>
    <body>
      <h2> Secrets</h2>
        {% if messages%}
          {% for message in messages%}
            {{messages}}
          {% endfor %}
        {% endif %}
      <h2>Hello, {{ request.session.name }}</h2>
      <form class="" action="/post" method="post">
        {% csrf_token %}
        <textarea name="your_secret_here" rows="8" cols="80"></textarea>
        <br>
        <br>
        <input type="submit" name="Post">
      </form>
        <a href="/popular">Most Popular Secrets</a>
      <h2>Recent Secrets...</h2>
        {% for secret in secrets%}
          {{secret.content}} | ({{secret.created_at|timesince}} ago) {{secret.likers.all.count}} likes
          {% if secret.user == currentuser %}
            <a href="/delete/{{secret.id}}/sec"> Delete</a><br>
          {% elif currentuser in secret.likers.all %}
            <strong>You liked this before!</strong><br>
          {% else %}
            <a href="/like/{{secret.id}}/sec"> Like</a><br>
          {% endif %}
        {% endfor %}<br>
        <a href="/logout">Logout</a>
    </body>
  </html>
